<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a (click)="navigateToHomepage()">Return to Homepage</a></li>
          <li><a (click)="navigateToAudioStreaming()">Audio Streaming</a></li>
          <li class="right-aligned"><a (click)="navigateToUserProfile()" id="username"><span id="username-value"></span></a></li>
        </ul>
      </nav>
    </div> 
  </header>
  <h1 class ="title">Audio Streaming Higher Resolution QoS-to-QoE Mapping</h1> 
  <div class="containerc"> 
    <section class="join-main-section">
        <form (submit)="calculate($event)" class="join-form">
            <div class="form-container">
                <div class="form-left">
                  <div class="form-field">
                    <div class="input-group">
                      <label>Audio Bitrate</label>
                      <div style="display: inline-flex;">
                        <input type="number" id="audioBitrate">
                        <span>kbits/s</span>
                      </div>
                    </div>
                    <div class="input-group">
                        <label>Video Bitrate</label>
                        <div style="display: inline-flex;">
                          <input type="number" id="videoBitrate">
                          <span>Mbits/s</span>
                        </div>
                    </div>
                    <div class="input-group">
                      <label>RTP Packet Loss</label>
                      <div style="display: inline-flex;">
                        <input type="number" id="rtpPacketLoss">
                        <span>%</span>
                      </div>
                    </div>
                    <div class="input-group">
                        <label>RTP Packet Loss Burstiness</label>
                        <div style="display: inline-flex;">
                          <input type="number" id="rtpPacketLossBurstiness">
                        </div>
                    </div>
                    <div class="input-group">
                        <label># RTP Packets Containing Video TS Packets</label>
                        <div style="display: inline-flex;">
                          <input type="number" id="numRTPPacketsTSPackets">
                        </div>
                    </div>                    
                  </div>
                </div>
                <div class="form-right">                  
                  <p>Select a Audio Codec</p>
                  <div class="call-to-action">
                    <div class ="img-wrapper">
                      <div class="audio-image"></div>
                    </div>
                  </div>  
                  <div class="input-group">
                      <label class="move">Audio Codec</label>
                      <div style="display: inline-flex;">
                        <input type="string" id="audioCodec">
                      </div>
                  </div>   
                  <div class="input-group">
                    <label>Burst Length</label>
                    <div style="display: inline-flex;">
                      <input type="number" id="burstLengthA">
                    </div>
                </div>                                         
                </div>
              </div>
              <div> 
                <button type="submit" class="butn">Calculate</button>
              </div>              
          </form>            
        <h1 class="join-text">MOS:</h1>
        <h1 class="join-text" *ngIf="Message">{{Message}}</h1>
    </section>
  </div>
</body>
