<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a (click)="navigateToHomepage()">Return to Homepage</a></li>
          <li><a (click)="navigateToGaming()">Gaming</a></li>
          <li class="right-aligned"><a (click)="navigateToUserProfile()" id="username"><span id="username-value"></span></a></li>
        </ul>
      </nav>
    </div> 
  </header>
  <h1 class ="title">Gaming QoS-to-QoE Mapping</h1> 
  <div class="containerc"> 
    <section class="join-main-section">
        <form (submit)="calculate($event)" class="join-form">
            <div class="form-container">
                <div class="form-left">
                  <div class="form-field">
                    <div class="input-group">
                      <label>Bitrate</label>
                      <div style="display: inline-flex;">
                        <input type="number" id="bitrate">
                        <span>kbits/s</span>
                      </div>
                    </div>
                    <div class="input-group">
                        <label># Pixels Per Video Frame</label>
                        <div style="display: inline-flex;">
                          <input type="number" id="numPixelsPerVideo">
                        </div>
                    </div>
                    <div class="input-group">
                      <label>Packet Loss</label>
                      <div style="display: inline-flex;">
                        <input type="number" id="packetLoss">   
                        <span>%</span>         
                      </div>
                    </div>
                    <div class="input-group">
                        <label>Encoding Frame Rate</label>
                        <div style="display: inline-flex;">
                          <input type="number" id="encodingFrameRate">
                          <span>fps</span>
                        </div>
                    </div>                  
                  </div>
                </div>
                <div class="form-right">
                  <div class="form-field">
                    <div class="input-group">
                      <label>Loss Sensitivity Class</label>
                      <div style="display: inline-flex;">
                        <input type="string" id="lossSensitivityClass">
                      </div>
                      <p class="hint">Low or High</p>
                  </div> 
                  <div class="input-group">
                    <label>Encoding Complexity</label>
                    <div style="display: inline-flex;">
                      <input type="string" id="encodingComplexity">
                    </div>
                    <p class="hint">Low, Medium or High</p>
                </div> 
                <div class="input-group">
                  <label>Delay</label>
                  <div style="display: inline-flex;">
                    <input type="number" id="delay">
                    <span>ms</span>
                  </div>
                </div>                
              </div>                                                              
            </div>
            </div>
              <div> 
                <button type="submit" class="butn">Calculate</button>
              </div>              
          </form>            
        <h1 class="join-text">MOS:</h1>
        <h1 class="join-text" *ngIf="Message">{{Message}}</h1>
    </section>
  </div>
</body>
